  
   p{
    text-align: center;
    color: rgb(252, 253, 255);
   }
   p i{
    padding-left: 20px;
   }
   i:hover{
    transform: scale(1.05);
    color: rgb(255, 255, 253);
   }
   div{
    background: #1069ce; 
    padding: 1%;
   }